# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/

# Python cache
*.sqlite3

# Coverage
.coverage
htmlcov/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

#claude(ndolo)
.claude